

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {

  display:flex;
  flex-direction:column;

  min-height: 100%;
  margin:0;
  font-family: sans-serif;
  text-align: center;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  max-width: 100%;
  overflow-x: hidden;

  

}

.logo{
  width:70px;
  height:45px;
}

/* ---------------------------Social Media buttons ------------------------------------------------*/
.footer {
  margin-top:17px;
  
  mix-blend-mode:lighten;
  
}


.social-container a {
  margin-left: 20px;

  
}
/* ---------------------------Home page css------------------------------------------------*/
.home{
  background-image: url("./images/background2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip:inherit ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h1{
  color:white;
  font-size:8em;
  margin-bottom:100px;
 
}

.home h2{
  color:white;
  font-size: 5em;
  margin-bottom: 85px;;
}

.home h3{
  color:white;
  font-size:3em;
  margin-bottom: 100px;
}
/* ---------------------------About page css------------------------------------------------*/
  .about{
    color:white;
    text-align: justify;
    padding: 10px 200px 0px 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
.me{
  width:60%;
  margin-bottom: 64px;
  padding: 0 75px 0 0 ;
}

.me h1{
  color: white;
  width:180%;
  font-size:6em;
  font-style: oblique;
  text-shadow: 2px 2px 5px red;
  
}

.imageabout img{
  
  position:absolute;
  top:150px;
  left:800px;
  width:450px;
  height:455px;
  border-radius:0 50% 50% 50%;
  margin-top: 50px;
  margin-bottom:50px;
}

.me h3{
  color:white;
  position:relative;
  left:600px;
}

/*-----------------------------------------------Portfolio page----------------------------*/
.portfolio{
  height:850px;
}
.portfolio h1{
  font-size: 6em;
  color: white;
  margin-bottom: 386px ;
  text-shadow: 2px 2px 5px red;
}

.card1 img{
  
    position:absolute;
    width:250px;
    height:200px;
    left:100px;
    bottom:520px;
    border: 1px solid white;
}

.card1 p{
  position:relative;
  bottom:300px;
  font-size: 18px;
  color: white;
  margin-left: 500px;
  margin-right: 100px;
  text-align: justify;
}

.card2 img{
  position:absolute;
  width:250px;
  height:200px;
  left:100px;
  top:450px;
  border: 1px solid white;
}

.card2 p{
  position:relative;
  bottom:200px;
  font-size: 18px;
  color: white;
  margin-left: 510px;
  margin-right: 100px;
  text-align: justify;
}

.card3 img{
  position:absolute;
  width:250px;
  height:200px;
  left:100px;
  top:670px;
  border: 1px solid white;
}

.card3 p{
  position:absolute;
  bottom:150px;
  font-size: 18px;
  color: white;
  margin-left: 510px;
  margin-right: 100px;
  margin-bottom:10px;
  text-align: justify;
}

@media all and (min-width:500px) and (max-width:600px) {
  
      /* ---------------Home---------------------------*/
      .home h1{
        color:white;
        font-size:7em;
        margin-bottom:100px;
      
      }
      
      .home h2{
        color:white;
        font-size: 5em;
        margin-bottom: 85px;;
      }
      
      .home h3{
        color:white;
        font-size:3em;
        margin-bottom: 100px;
      }


    /* ---------------About---------------------------*/
    .about{
        color:white;
        text-align: justify;
        padding: 10px 20px 50px 60px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
      }
      
    .me{
      width:85%;
      margin-bottom: 64px;
      padding: 0 ;
    }

    .me h1{
      color: white;
      width:120%;
      font-size:6em;
      font-style: oblique;
      text-shadow: 2px 2px 5px red;
      
    }

    .imageabout img{
      
      position:relative;
      top:30px;
      left:55px;
      width:200px;
      height:200px;
      border-radius:0 50% 50% 50%;
      margin-top: 0px;
      margin-bottom:0px;
    }

    .me h3{
      color:white;
      position:relative;
      font-size:20px;
      top:40px;
      left:50px;
    }

    /* ---------------Portfolio---------------------------*/
    .portfolio{
      height:1300px;
    }
    
    
    .portfolio h1{
      font-size: 6em;
      color: white;
      margin-bottom: 386px ;
      text-shadow: 2px 2px 5px red;
    }

    .card1 img{
      
        position:absolute;
        width:200px;
        height:150px;
        left:170px;
        top:250px;
        border: 1px solid white;
    }

    .card1 p{
      position:relative;
      top:-180px;
      font-size: 14px;
      color: white;
      margin-left: 60px;
      margin-right: 60px;
      text-align: justify;
    }

    .card2 img{
      position:absolute;
      width:200px;
      height:150px;
      left:170px;
      top:550px;
      border: 1px solid white;
    }

    .card2 p{
      position:relative;
      top:-15px;
      font-size: 14px;
      color: white;
      margin-left: 60px;
      margin-right: 60px;
      text-align: justify;
    }

    .card3 img{
      position:absolute;
      width:200px;
      height:150px;
      left:170px;
      top:850px;
      border: 1px solid white;
    }
    
    .card3 p{
      position:absolute;
      bottom:-100px;
      font-size: 14px;
      color: white;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom:100px;
      text-align: justify;
    }
}

@media all and (min-width:360px) and (max-width:412px) {
  
  /* ---------------Home---------------------------*/
  .home h1{
    color:white;
    font-size:5em;
    margin-bottom:100px;
  
  }
  
  .home h2{
    color:white;
    font-size: 5em;
    margin-bottom: 85px;;
  }
  
  .home h3{
    color:white;
    font-size:3em;
    margin-bottom: 100px;
  }


/* ---------------About---------------------------*/
.about{
    color:white;
    text-align: justify;
    padding: 10px 20px 50px 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  
.me{
  width:85%;
  margin-bottom: 64px;
  padding: 0 ;
}

.me h1{
  color: white;
  width:120%;
  font-size:6em;
  font-style: oblique;
  text-shadow: 2px 2px 5px red;
  
}

.imageabout img{
  
  position:relative;
  top:30px;
  left:55px;
  width:200px;
  height:200px;
  border-radius:0 50% 50% 50%;
  margin-top: 0px;
  margin-bottom:0px;
}

.me h3{
  color:white;
  position:relative;
  font-size:20px;
  top:40px;
  left:50px;
}

/* ---------------Portfolio---------------------------*/
.portfolio{
  height:1200px;
}

.portfolio h1{
  font-size: 6em;
  color: white;
  margin-bottom: 386px ;
  text-shadow: 2px 2px 5px red;
}

.card1 img{
  
    position:absolute;
    width:200px;
    height:150px;
    left:100px;
    top:250px;
    border: 1px solid white;
}

.card1 p{
  position:relative;
  top:-180px;
  font-size: 14px;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}

.card2 img{
  position:absolute;
  width:200px;
  height:150px;
  left:100px;
  top:615px;
  border: 1px solid white;
}

.card2 p{
  position:relative;
  top:-15px;
  font-size: 14px;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}

.card3 img{
  position:absolute;
  width:200px;
  height:150px;
  left:100px;
  top:1000px;
  border: 1px solid white;
}

.card3 p{
  position:absolute;
  bottom:-100px;
  font-size: 14px;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom:100px;
  text-align: justify;
}
}






